.c1 {
  stroke: #56b3b4;
}
.c2 {
  stroke: #ea5e5e;
}
.c3 {
  stroke: #f7ba3e;
}
.c4 {
  stroke: #bf85bf;
}
.c1,
.c2,
.c3,
.c4 {
  opacity: 1;
}
g > path,
.initial g > path {
  opacity: 0.5;
  stroke: #4d616e;
}
.dash {
  stroke-linecap: round;
  stroke-width: 10;
  transition-timing-function: cubic-bezier(0.43, 0.12, 0.44, 1);
  transition-property: stroke-dashoffset, stroke, opacity;
  transition-duration: 900ms;
}
.l0 > path {
  transition-delay: 0ms, 500ms, -200ms;
}
.l0 .p0 {
  stroke-dasharray: 120, 100;
  stroke-dashoffset: 0;
}
.initial .l0 .p0 {
  stroke-dashoffset: 100;
}
.l0 .p1 {
  stroke-dasharray: 60, 160;
  stroke-dashoffset: -140;
}
.initial .l0 .p1 {
  stroke-dashoffset: -40;
}
.l1 > path {
  transition-delay: 70ms, 570ms, -130ms;
}
.l1 .p0 {
  stroke-dasharray: 30, 190;
  stroke-dashoffset: 0;
}
.initial .l1 .p0 {
  stroke-dashoffset: -120;
}
.l1 .p1 {
  stroke-dasharray: 100, 120;
  stroke-dashoffset: -50;
}
.initial .l1 .p1 {
  stroke-dashoffset: -170;
}
.l1 .p2 {
  stroke-dasharray: 30, 190;
  stroke-dashoffset: -170;
}
.initial .l1 .p2 {
  stroke-dashoffset: -290;
}
.l2 > path {
  transition-delay: 140ms, 640ms, -60ms;
}
.l2 .p0 {
  stroke-dasharray: 70, 150;
  stroke-dashoffset: 0;
}
.initial .l2 .p0 {
  stroke-dashoffset: -40;
}
.l2 .p1 {
  stroke-dasharray: 40, 180;
  stroke-dashoffset: -90;
}
.initial .l2 .p1 {
  stroke-dashoffset: -130;
}
.l2 .p2 {
  stroke-dasharray: 10, 210;
  stroke-dashoffset: -150;
}
.initial .l2 .p2 {
  stroke-dashoffset: -190;
}
.l2 .p3 {
  stroke-dasharray: 20, 200;
  stroke-dashoffset: -180;
}
.initial .l2 .p3 {
  stroke-dashoffset: -220;
}
.l3 > path {
  transition-delay: 210ms, 710ms, 10ms;
}
.l3 .p0 {
  stroke-dasharray: 20, 200;
  stroke-dashoffset: 0;
}
.initial .l3 .p0 {
  stroke-dashoffset: 150;
}
.l3 .p1 {
  stroke-dasharray: 10, 210;
  stroke-dashoffset: -40;
}
.initial .l3 .p1 {
  stroke-dashoffset: 110;
}
.l3 .p2 {
  stroke-dasharray: 30, 190;
  stroke-dashoffset: -70;
}
.initial .l3 .p2 {
  stroke-dashoffset: 80;
}
.l3 .p3 {
  stroke-dasharray: 50, 170;
  stroke-dashoffset: -120;
}
.initial .l3 .p3 {
  stroke-dashoffset: 30;
}
.l3 .p4 {
  stroke-dasharray: 10, 210;
  stroke-dashoffset: -190;
}
.initial .l3 .p4 {
  stroke-dashoffset: -40;
}
.l4 > path {
  transition-delay: 280ms, 780ms, 80ms;
}
.l4 .p0 {
  stroke-dasharray: 50, 170;
  stroke-dashoffset: 0;
}
.initial .l4 .p0 {
  stroke-dashoffset: -100;
}
.l4 .p1 {
  stroke-dasharray: 30, 190;
  stroke-dashoffset: -70;
}
.initial .l4 .p1 {
  stroke-dashoffset: -170;
}
.l4 .p2 {
  stroke-dasharray: 50, 170;
  stroke-dashoffset: -120;
}
.initial .l4 .p2 {
  stroke-dashoffset: -220;
}
.l4 .p3 {
  stroke-dasharray: 10, 210;
  stroke-dashoffset: -190;
}
.initial .l4 .p3 {
  stroke-dashoffset: -290;
}
.l5 > path {
  transition-delay: 350ms, 850ms, 150ms;
}
.l5 .p0 {
  stroke-dasharray: 10, 210;
  stroke-dashoffset: 0;
}
.initial .l5 .p0 {
  stroke-dashoffset: -190;
}
.l5 .p1 {
  stroke-dasharray: 30, 190;
  stroke-dashoffset: -30;
}
.initial .l5 .p1 {
  stroke-dashoffset: -220;
}
.l5 .p2 {
  stroke-dasharray: 80, 140;
  stroke-dashoffset: -80;
}
.initial .l5 .p2 {
  stroke-dashoffset: -270;
}
.l5 .p3 {
  stroke-dasharray: 20, 200;
  stroke-dashoffset: -180;
}
.initial .l5 .p3 {
  stroke-dashoffset: -370;
}
.l6 > path {
  transition-delay: 420ms, 920ms, 220ms;
}
.l6 .p0 {
  stroke-dasharray: 40, 180;
  stroke-dashoffset: 0;
}
.initial .l6 .p0 {
  stroke-dashoffset: 30;
}
.l6 .p1 {
  stroke-dasharray: 40, 180;
  stroke-dashoffset: -60;
}
.initial .l6 .p1 {
  stroke-dashoffset: -30;
}
.l6 .p2 {
  stroke-dasharray: 30, 190;
  stroke-dashoffset: -120;
}
.initial .l6 .p2 {
  stroke-dashoffset: -90;
}
.l6 .p3 {
  stroke-dasharray: 30, 190;
  stroke-dashoffset: -170;
}
.initial .l6 .p3 {
  stroke-dashoffset: -140;
}
.l7 > path {
  transition-delay: 490ms, 990ms, 290ms;
}
.l7 .p0 {
  stroke-dasharray: 10, 210;
  stroke-dashoffset: 0;
}
.initial .l7 .p0 {
  stroke-dashoffset: -50;
}
.l7 .p1 {
  stroke-dasharray: 90, 130;
  stroke-dashoffset: -30;
}
.initial .l7 .p1 {
  stroke-dashoffset: -80;
}
.l7 .p2 {
  stroke-dasharray: 20, 200;
  stroke-dashoffset: -140;
}
.initial .l7 .p2 {
  stroke-dashoffset: -190;
}
.l7 .p3 {
  stroke-dasharray: 20, 200;
  stroke-dashoffset: -180;
}
.initial .l7 .p3 {
  stroke-dashoffset: -230;
}
.l8 > path {
  transition-delay: 560ms, 1060ms, 360ms;
}
.l8 .p0 {
  stroke-dasharray: 50, 170;
  stroke-dashoffset: 0;
}
.initial .l8 .p0 {
  stroke-dashoffset: -150;
}
.l8 .p1 {
  stroke-dasharray: 20, 200;
  stroke-dashoffset: -70;
}
.initial .l8 .p1 {
  stroke-dashoffset: -220;
}
.l8 .p2 {
  stroke-dasharray: 90, 130;
  stroke-dashoffset: -110;
}
.initial .l8 .p2 {
  stroke-dashoffset: -260;
}
.l9 > path {
  transition-delay: 630ms, 1130ms, 430ms;
}
.l9 .p0 {
  stroke-dasharray: 20, 200;
  stroke-dashoffset: 0;
}
.initial .l9 .p0 {
  stroke-dashoffset: 100;
}
.l9 .p1 {
  stroke-dasharray: 10, 210;
  stroke-dashoffset: -40;
}
.initial .l9 .p1 {
  stroke-dashoffset: 60;
}
.l9 .p2 {
  stroke-dasharray: 40, 180;
  stroke-dashoffset: -70;
}
.initial .l9 .p2 {
  stroke-dashoffset: 30;
}
.l9 .p3 {
  stroke-dasharray: 10, 210;
  stroke-dashoffset: -130;
}
.initial .l9 .p3 {
  stroke-dashoffset: -30;
}
.l9 .p4 {
  stroke-dasharray: 40, 180;
  stroke-dashoffset: -160;
}
.initial .l9 .p4 {
  stroke-dashoffset: -60;
}
.l10 > path {
  transition-delay: 700ms, 1200ms, 500ms;
}
.l10 .p0 {
  stroke-dasharray: 50, 170;
  stroke-dashoffset: 0;
}
.initial .l10 .p0 {
  stroke-dashoffset: 150;
}
.l10 .p1 {
  stroke-dasharray: 60, 160;
  stroke-dashoffset: -70;
}
.initial .l10 .p1 {
  stroke-dashoffset: 80;
}
.l10 .p2 {
  stroke-dasharray: 50, 170;
  stroke-dashoffset: -150;
}
.initial .l10 .p2 {
  stroke-dashoffset: 0;
}
body {
  background: #1a2b34;
}
button {
  border: solid 1px #fff;
  padding: 10px 30px;
  border-radius: 3px;
  font-size: 1.5em;
  font-weight: bold;
  color: #fff;
  background-color: transparent;
  outline: none;
  display: block;
  margin: 10px;
  opacity: 0.8;
  transition: opacity 0.2s ease;
}
button:hover {
  opacity: 1;
}
button:active {
  transform: translateY(2px);
}
